  
.btn-edit:hover{background-color:#F3F781; opacity:60%}
.btn-del:hover{background-color:#585858; color:white; opacity:60%}
.btn-plus:hover{ opacity:60%}    
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    padding: 30px 30px;
}